.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.item-1 {
    background-color: aqua;
}

.item-2 {
    background-color: tan;
}

.item-3 {
    background-color: blueviolet;
}